{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block navbar %}

    <li class="btn nav-item active">
        <a class="nav-link" href="/validate">Validate</a>
    </li>

    {% if isAdmin %}
        <li class="btn nav-item active">
            <a class="nav-link" href="/admin">Admin</a>
        </li>
    {% endif %}

    <li class="btn nav-item btn-danger active">
        <a class="nav-link" href="/?disconnect=true">Disconnect</a>
    </li>

{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Model</th>
            <th>Version</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i in 1..5 %}
            <tr>
                <th scope="row">{{ i }}</th>
                <td>Model {{ i }}</td>
                <td>v.{{ i }}</td>
                <td><a href="#" class="btn btn-info">View</a></td>
            </tr>
        {% endfor %}S
        </tbody>
    </table>
{% endblock %}


    {#{% set array =#}
        {#{#}
            {#0:{'name':'Home','link':"#"},#}
            {#1:{'name':'Validate','link':"#"}#}
        {#}#}
    {#%}#}

    {#{% set i = 0 %}#}

    {#{% for item in array %}#}
        {#{% if i == page_number %}#}
            {#<li class="btn nav-item active">#}
        {#{% else %}#}
            {#<li class="btn nav-item">#}
        {#{% endif %}#}

        {#<a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>#}
        {#</li>#}

        {#{% set i = i +1 %}#}
    {#{% endfor %}#}


